@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

$Violet: hsl(257, 40%, 49%);
$SoftMagenta: hsl(300, 69%, 71%);
body{
	background: $Violet url('./images/bg-mobile.svg') no-repeat;
	background-size: 100%;
	padding: 40px;
	text-rendering: optimizeLegibility;
	@media screen and (min-width: 900px) {
		background-image: url(./images/bg-desktop.svg);
		padding: 58px 70px 0;
		font-size: 1.6rem;
	}
}
.logo-image{
	max-width: 120px;
	height: auto;
	margin-bottom: 55px;
	@media screen and (min-width: 900px) {
		max-width: 215px;
	}
}
.main{
	text-align: center;
	@media screen and (min-width: 900px) {
		display: flex;
	}
}
.header{
	margin: 0;
	margin-bottom: 70px;
	@media screen and (min-width: 900px) {
		margin-bottom: 0;
	}
}
.header__image{
	max-width: 100%;
}
.content{
	@media screen and (min-width: 900px) {
		max-width: 510px;
		text-align: left;
		padding-left: 3rem;
	}
}
.content__title{
	font-family: 'Poppins', sans-serif;
	color: white;
	line-height: 1.5;
	@media screen and (min-width: 900px) {
	}
}
.content__text{
	font-family: 'Open Sans', sans-serif;
	font-size: 0.98rem;
	line-height: 1.5;
	color: white;
	margin-bottom: 1.5rem;
	@media screen and (min-width: 900px) {
		font-size: 1.1rem;
	}
}
.button{
	display: block;	
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.75rem;
	max-width: 13rem;
	padding: 1em;
	border-radius: 1.35rem;
	text-decoration: none;
	color: $Violet;
	box-shadow: 0 5px 30px -15px black;
	@media screen and (min-width: 900px) {
		margin-left: 0;
		text-align: center;
		font-size: 1.1rem;
		border-radius: 2rem;
	}
}
.social{
	margin-top: 4rem;
	text-align: center;
	@media screen and (min-width: 900px) {
		margin-top: 2rem;
		text-align: right;
	}
}
.social__icon{
	width: 26px;
	margin: 0.25rem;
	@media screen and (min-width: 900px) {
		margin-top: 0;
		width: 42px;	
	}
}
.attribution { font-size: 11px; text-align: center; margin-top: 5rem; color: $SoftMagenta;}
.attribution a { color: white; text-decoration: none;}
@media screen and (min-width: 900px){
	.attribution{
		position: absolute;
		bottom: 0;
	}
}